.vscode
Semana2/.ipynb_checkpoints
Semana3/.ipynb_checkpoints
Semana4/.ipynb_checkpoints
Semana5/.ipynb_checkpoints
Semana6/.ipynb_checkpoints
Semana7/.ipynb_checkpoints
Semana8/.ipynb_checkpoints
datascience/
.ipynb_checkpoints/*
.idea/*

